.container-main {
    position: relative;

}

.container-main::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 20, 0.2), #111111), url("/src/images/bgForm.jpg");
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
}

.content-header {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    color: #fff;
}

.links-socials {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    gap: 25px;
    padding-top: 20px;
    top: 0;
    right: 20px;
    position: absolute;
}

.links-socials a {
    color: #fff;
    transition: color 0.4s;
}

.links-socials a:hover {
    color: #724d3b;
}

.title-header {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 30px;
}

.CTA {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-direction: column;
}

.CTA p {
    font-size: 2.3rem;
    margin-top: 7ch;
}

.CTA span {
    color: #724d3b;
}



.links-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.links-menu a {
    text-decoration: none;
    color: #fff;
    margin-top: 10ch;
    padding: 20px 5px;
    font-size: 1.5rem;
}

.links-menu a:hover {
    color: #724d3b;
}