#carousel-promotion {
    width: 750px;
    height: 400px;
    overflow: hidden;
    margin: 10ch auto;
    border-radius: 5px;
    text-align: center;
}

.title-promotion {
    margin-bottom: 10px;
}

#carousel-promotion img {
    height: 750px;
    border-radius: 5px;
}

#carousel-promotion .swiper-promotion {
    width: 750px;
    height: 300px;

}