.scheduling {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20ch auto;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.scheduling::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/images/bgHome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
    border-radius: 5px;

}

#form_scheduling {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 450px;
    padding: 20px;
    border-radius: 8px;
    z-index: 1;
}

#form_scheduling input {
    width: 350px;
    height: 40px;
    font-size: 1rem;
    padding: 15px;
    border: none;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid grey;
}

#form_scheduling input::placeholder {
    color: #fff;
}

#form_scheduling button {
    border: none;
    object-fit: cover;
    width: 40%;
    height: 30px;

}