@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('/src/css/cards.css');
@import url('/src/css/carousel.css');
@import url('/src/css/header.css');
@import url('/src/css/localization.css');
@import url('/src/css/promotion.css');
@import url('/src/css/scheduling.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Bebas Neue", sans-serif;
}

body {
    background-color: #111111;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}


.btn-default{
    background-color: #724d3b;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
}