@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('/src/css/cards.css');
@import url('/src/css/carousel.css');
@import url('/src/css/header.css');
@import url('/src/css/localization.css');
@import url('/src/css/promotion.css');
@import url('/src/css/scheduling.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TikTok Sans", sans-serif;
}

body {
    background-color: #111111;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

.swiper {
    width: 600px;
    height: 300px;
}

.swiper-slide img {
    width: 600px;
    height: 300px;
}

.cards img {
    width: 350px;
    height: 200px;
}

.btn-default{
    background-color: #724d3b;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
}